src/.#lemon.cpp
src/fulllemonscreenshot.png
src/lgl
libs/yaml-cpp-0.2.5/CMakeCache.txt
libs/yaml-cpp-0.2.5/CMakeFiles/
libs/yaml-cpp-0.2.5/CTestTestfile.cmake
libs/yaml-cpp-0.2.5/Makefile
libs/yaml-cpp-0.2.5/cmake_install.cmake
libs/yaml-cpp-0.2.5/libyaml-cpp.so
libs/yaml-cpp-0.2.5/libyaml-cpp.so.0.2
libs/yaml-cpp-0.2.5/libyaml-cpp.so.0.2.5
libs/yaml-cpp-0.2.5/test/CMakeFiles/
libs/yaml-cpp-0.2.5/test/CTestTestfile.cmake
libs/yaml-cpp-0.2.5/test/Makefile
libs/yaml-cpp-0.2.5/test/cmake_install.cmake
libs/yaml-cpp-0.2.5/test/run-tests
libs/yaml-cpp-0.2.5/util/CMakeFiles/
libs/yaml-cpp-0.2.5/util/CTestTestfile.cmake
libs/yaml-cpp-0.2.5/util/Makefile
libs/yaml-cpp-0.2.5/util/cmake_install.cmake
libs/yaml-cpp-0.2.5/util/parse
libs/yaml-cpp-0.2.5/yaml-cpp.pc
toys/spectrum-analyzer/audaciousplugin/Makefile
toys/spectrum-analyzer/audaciousplugin/config.h
toys/spectrum-analyzer/audaciousplugin/config.log
toys/spectrum-analyzer/audaciousplugin/config.status
toys/spectrum-analyzer/audaciousplugin/libtool
toys/spectrum-analyzer/audaciousplugin/src/.deps/
toys/spectrum-analyzer/audaciousplugin/src/.libs/
toys/spectrum-analyzer/audaciousplugin/src/Makefile
toys/spectrum-analyzer/audaciousplugin/src/libexample2.la
toys/spectrum-analyzer/audaciousplugin/src/plugin_main.lo
toys/spectrum-analyzer/audaciousplugin/src/plugin_main.o
toys/spectrum-analyzer/audaciousplugin/stamp-h1
data/errordumps/
libs/json-c-0.9/.deps/
libs/json-c-0.9/.libs/
libs/json-c-0.9/Makefile
libs/json-c-0.9/arraylist.lo
libs/json-c-0.9/arraylist.o
libs/json-c-0.9/config.h
libs/json-c-0.9/config.log
libs/json-c-0.9/config.status
libs/json-c-0.9/debug.lo
libs/json-c-0.9/debug.o
libs/json-c-0.9/json.pc
libs/json-c-0.9/json_object.lo
libs/json-c-0.9/json_object.o
libs/json-c-0.9/json_tokener.lo
libs/json-c-0.9/json_tokener.o
libs/json-c-0.9/json_util.lo
libs/json-c-0.9/json_util.o
libs/json-c-0.9/libjson.la
libs/json-c-0.9/libtool
libs/json-c-0.9/linkhash.lo
libs/json-c-0.9/linkhash.o
libs/json-c-0.9/printbuf.lo
libs/json-c-0.9/printbuf.o
libs/json-c-0.9/stamp-h1
#libs/json-c-0.9/config.h.in
#libs/json-c-0.9/configure
libs/json
src/.#text.cpp
libs/ftgl-2.1.3-rc5/Makefile
libs/ftgl-2.1.3-rc5/config.h
libs/ftgl-2.1.3-rc5/config.log
libs/ftgl-2.1.3-rc5/config.status
libs/ftgl-2.1.3-rc5/demo/.deps/
libs/ftgl-2.1.3-rc5/demo/.libs/
libs/ftgl-2.1.3-rc5/demo/FTGLDemo
libs/ftgl-2.1.3-rc5/demo/FTGLDemo-FTGLDemo.o
libs/ftgl-2.1.3-rc5/demo/FTGLMFontDemo
libs/ftgl-2.1.3-rc5/demo/FTGLMFontDemo-FTGLMFontDemo.o
libs/ftgl-2.1.3-rc5/demo/Makefile
libs/ftgl-2.1.3-rc5/demo/c-demo
libs/ftgl-2.1.3-rc5/demo/c_demo-c-demo.o
libs/ftgl-2.1.3-rc5/demo/simple
libs/ftgl-2.1.3-rc5/demo/simple-simple.o
libs/ftgl-2.1.3-rc5/demo/tb.o
libs/ftgl-2.1.3-rc5/demo/trackball.o
libs/ftgl-2.1.3-rc5/docs/Makefile
libs/ftgl-2.1.3-rc5/docs/doxygen.cfg
libs/ftgl-2.1.3-rc5/ftgl.pc
libs/ftgl-2.1.3-rc5/libtool
libs/ftgl-2.1.3-rc5/msvc/Makefile
libs/ftgl-2.1.3-rc5/src/.deps/
libs/ftgl-2.1.3-rc5/src/.libs/
libs/ftgl-2.1.3-rc5/src/Makefile
libs/ftgl-2.1.3-rc5/src/libftgl.la
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTBitmapFont.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTBitmapFont.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTBitmapGlyph.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTBitmapGlyph.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTBuffer.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTBuffer.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTBufferFont.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTBufferFont.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTBufferGlyph.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTBufferGlyph.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTCharmap.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTCharmap.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTContour.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTContour.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTExtrudeFont.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTExtrudeFont.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTExtrudeGlyph.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTExtrudeGlyph.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTFace.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTFace.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTFont.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTFont.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTFontGlue.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTFontGlue.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTGlyph.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTGlyph.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTGlyphContainer.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTGlyphContainer.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTGlyphGlue.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTGlyphGlue.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTLayout.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTLayout.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTLayoutGlue.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTLayoutGlue.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTLibrary.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTLibrary.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTOutlineFont.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTOutlineFont.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTOutlineGlyph.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTOutlineGlyph.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTPixmapFont.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTPixmapFont.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTPixmapGlyph.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTPixmapGlyph.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTPoint.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTPoint.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTPolygonFont.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTPolygonFont.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTPolygonGlyph.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTPolygonGlyph.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTSimpleLayout.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTSimpleLayout.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTSize.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTSize.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTTextureFont.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTTextureFont.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTTextureGlyph.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTTextureGlyph.o
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTVectoriser.lo
libs/ftgl-2.1.3-rc5/src/libftgl_la-FTVectoriser.o
libs/ftgl-2.1.3-rc5/stamp-h1
libs/ftgl-2.1.3-rc5/test/.deps/
libs/ftgl-2.1.3-rc5/test/Makefile
libs/ftgl/
libs/json-c-0.9/autom4te.cache/
libs/json-c-0.9/config.h.in~
src/core
todo
libs/ftgl-2.1.3-rc5/config.h.in
libs/ftgl-2.1.3-rc5/configure
libs/ftgl-2.1.3-rc5/autom4te.cache/
libs/ftgl-2.1.3-rc5/config.h.in~

